.card {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin-top: 30px;
  row-gap: 5px;
  padding: 10px;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s linear;
  &:hover {
    transform: translateY(3px);
  }
}
.cardDescr {
  font-size: 16px;
  font-weight: bold;
}
.cardPrice {
  margin-top: 20px;
  font-size: 24px;
}
.cardBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  background-color: #1f7d63;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
  &:hover {
    transition: all 0.2s linear;
    background-color: black;
  }
}
.test {
  width: 22px;
  height: 22px;
}
